# TD1 — Modèle en étoile (SQLite) — Solution complète

## Ce que vous allez faire
- Construire le schéma en étoile minimal (date, produit, magasin, ventes).
- Charger un petit jeu d'exemple.
- Vérifier le modèle avec 3 requêtes de contrôle.

> Durée : 30-40 min. Python réduit au strict nécessaire pour exécuter le SQL en SQLite en mémoire.

In [ ]:
# Import SQLite (exécution minimale)
import sqlite3
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()
print('Base TD1 créée (SQLite en mémoire)')

Base TD1 créée

## Schéma en étoile (Mermaid)
```mermaid
erDiagram
  DIM_DATE ||--o{ FACT_VENTES : date_id
  DIM_PRODUIT ||--o{ FACT_VENTES : produit_sk
  DIM_MAGASIN ||--o{ FACT_VENTES : magasin_sk

  DIM_DATE {
    date_id INT PK
    date_cal DATE
    annee INT
    mois INT
    trimestre INT
  }
  DIM_PRODUIT {
    produit_sk INT PK
    produit_id STRING UNIQUE
    produit_nom STRING
    categorie STRING
  }
  DIM_MAGASIN {
    magasin_sk INT PK
    magasin_id STRING UNIQUE
    ville STRING
    region STRING
  }
  FACT_VENTES {
    fact_sk INT PK
    date_id INT FK
    produit_sk INT FK
    magasin_sk INT FK
    quantite INT
    montant DECIMAL
  }
```

> Astuce : pour générer un SVG depuis Mermaid, utiliser un renderer en ligne ou l’export de votre IDE si disponible.

## DDL des tables

### Grain, clés et validations attendues
- **Grain** : une ligne de `fact_ventes` = 1 transaction pour un produit, un magasin, une date.
- **Clés** : clés de substitution (SK) sur dimensions, clés étrangères dans la table de faits.
- **Contrôles à faire** : (1) volumes (COUNT), (2) cohérence des FK (aucun NULL après jointure), (3) agrégat simple (CA par produit).

In [2]:
# DDL dimensions et faits
cursor.execute('''
CREATE TABLE dim_date (
  date_id INTEGER PRIMARY KEY AUTOINCREMENT,
  date_cal DATE NOT NULL,
  annee INTEGER,
  mois INTEGER,
  jour INTEGER,
  trimestre INTEGER
);
''')

cursor.execute('''
CREATE TABLE dim_produit (
  produit_sk INTEGER PRIMARY KEY AUTOINCREMENT,
  produit_id TEXT UNIQUE,
  produit_nom TEXT,
  categorie TEXT
);
''')

cursor.execute('''
CREATE TABLE dim_magasin (
  magasin_sk INTEGER PRIMARY KEY AUTOINCREMENT,
  magasin_id TEXT UNIQUE,
  ville TEXT,
  region TEXT
);
''')

cursor.execute('''
CREATE TABLE fact_ventes (
  fact_sk INTEGER PRIMARY KEY AUTOINCREMENT,
  date_id INTEGER NOT NULL,
  produit_sk INTEGER NOT NULL,
  magasin_sk INTEGER NOT NULL,
  montant REAL,
  quantite INTEGER,
  FOREIGN KEY (date_id) REFERENCES dim_date(date_id),
  FOREIGN KEY (produit_sk) REFERENCES dim_produit(produit_sk),
  FOREIGN KEY (magasin_sk) REFERENCES dim_magasin(magasin_sk)
);
''')
print('Tables créées')

Tables créées

## Inserts d'exemple

In [3]:
# Inserts dimensions
cursor.executemany('''
INSERT INTO dim_date (date_cal, annee, mois, jour, trimestre) VALUES (?, ?, ?, ?, ?);
''', [
    ('2024-01-02', 2024, 1, 2, 1),
    ('2024-01-03', 2024, 1, 3, 1),
    ('2024-01-04', 2024, 1, 4, 1)
])

cursor.executemany('''
INSERT INTO dim_produit (produit_id, produit_nom, categorie) VALUES (?, ?, ?);
''', [
    ('P01', 'Chemise Oxford', 'Textile'),
    ('P02', 'Sneakers Run', 'Chaussure'),
    ('P03', 'Jeans Slim', 'Textile')
])

cursor.executemany('''
INSERT INTO dim_magasin (magasin_id, ville, region) VALUES (?, ?, ?);
''', [
    ('M01', 'Paris', 'IDF'),
    ('M02', 'Lyon', 'ARA')
])

# Inserts faits
cursor.executemany('''
INSERT INTO fact_ventes (date_id, produit_sk, magasin_sk, montant, quantite) VALUES (?, ?, ?, ?, ?);
''', [
    (1, 1, 1, 120.0, 2),
    (1, 2, 1, 75.0, 1),
    (2, 1, 2, 60.0, 1),
    (3, 3, 1, 90.0, 1)
])
print('Données insérées')

Données insérées

## Requêtes de validation

In [4]:
# Volume total
cursor.execute('SELECT COUNT(*) AS nb_lignes FROM fact_ventes;')
print('Volume total :', cursor.fetchone()[0])

# Top 3 produits par CA
cursor.execute('''
SELECT p.produit_nom, SUM(f.montant) AS ca
FROM fact_ventes f
JOIN dim_produit p ON f.produit_sk = p.produit_sk
GROUP BY p.produit_nom
ORDER BY ca DESC
LIMIT 3;
''')
print('Top 3 produits :')
for row in cursor.fetchall():
    print(row)

# CA par ville et par mois
cursor.execute('''
SELECT d.annee, d.mois, m.ville, SUM(f.montant) AS ca
FROM fact_ventes f
JOIN dim_date d ON f.date_id = d.date_id
JOIN dim_magasin m ON f.magasin_sk = m.magasin_sk
GROUP BY d.annee, d.mois, m.ville
ORDER BY d.annee, d.mois, m.ville;
''')
print('CA par ville/mois :')
for row in cursor.fetchall():
    print(row)

conn.close()
print('TD1 terminé')

Volume total : 4
Top 3 produits :
('Chemise Oxford', 180.0)
('Jeans Slim', 90.0)
('Sneakers Run', 75.0)
CA par ville/mois :
(2024, 1, 'Lyon', 60.0)
(2024, 1, 'Paris', 285.0)
TD1 terminé